.wrapper {
    margin-top: 50px;
}

.rewardWrapper {
    width: 1217px;
    height: 90px;
    border-radius: 24px;
    background-color: var(--pool-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .DBTexts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 640px;
        margin-left: 37px;

        .DBText {
            color: var(--pool-text-2);

            .text2 {
                font-weight: 700;
                margin-left: 15px;
            }
        }
    }

    .claimAll{
        margin-right: 25px;
    }
}