.wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    .app {
        width: 100%;
        max-width: 1217px;
        height: 90px;
        border-radius: 24px;
        background-color: var(--pool-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 25px 0px 37px;

        .texts {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .text {
                display: flex;
                flex-direction: column;
            }

            .text> :nth-child(1) {
                display: flex;
                flex-direction: column;
            }

            .text> :nth-child(1)> :nth-child(1) {
                color: var(--veCSM-text-1);
                font-size: 16px;
                font-weight: 600;
            }

            .text> :nth-child(1)> :nth-child(2) {
                color: var(--veCSM-text-2);
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}


@media (max-width: 650px) {
    .wrapper {
        margin-top: 8px;
        padding: 0px 8px;

        .app {
            max-width: 650px;
            height: 120px;
            flex-direction: column;
            justify-content: space-between;
            padding: 19px 17px 17px 13px;

            .texts {
                display: flex;
                justify-content: space-between;
                width: 100%;
                ;

                .text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                }

                .text> :nth-child(1)> :nth-child(1) {
                    color: var(--veCSM-text-1);
                    font-size: 12px;
                    font-weight: 600;
                }

                .text> :nth-child(1)> :nth-child(2) {
                    color: var(--veCSM-text-2);
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            .texts> :nth-child(1)> :nth-child(1) {
                width: 100%;
            }

            .texts> :nth-child(3) {
                align-items: flex-end;
            }

            .texts> :nth-child(4) {
                width: 0%;
            }

            button {
                width: 100% !important;
            }
        }
    }
}