.wrapper {
  width: 100%;
  margin-bottom: 130px;

  .boxWrapper {
    background-color: var(--statistics-bg-1);
    border-radius: 24px;
    padding: 19px;

    .options {
      margin-bottom: 30px;
    }

    .date {
      text-align: center;
      margin-bottom: 10px;
      padding-top: 30px;
      font-size: 23px;
      color: var(--text);
    }

    .graph {
      height: 500px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      img {
        max-width: 625px;
        width: 100%;
      }

      @media (max-width: 625px) {
        height: 300px;
      }
    }

    .weeklyFees {
      max-height: 650px;
      overflow-y: auto;
      &::-webkit-scrollbar{
        width: 5px;
      }

      .mainDates {
        text-align: center;
        font-size: 18px;
        color: var(--text);
        margin-bottom: 30px;
      }

      .line {
        width: 100%;
        height: 0.5px;
        opacity: 0.7;
        background-color: var(--statistics-text-2);
      }

      .title {
        text-align: end;
        margin: 15px;
        color: var(--statistics-text-2);
      }

      .datas {
        display: flex;
        flex-direction: column;
        color: var(--text);

        .data {
          display: flex;
          justify-content: space-between;
          height: 51px;
          align-items: center;
          margin-bottom: 17px;
          background-color: var(--statistics-bg-3);
          border-radius: 8px;
          padding: 0px 15px;

          .whichDate {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;

            .progress {
              margin-left: 3px;
            }

            .toolTip {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}