.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  background-color: var(--input-bg);
  outline: none;
  border: 1px solid var(--input-border);
  color: var(--input-text);
  padding: 12px;
  font-size: 16px;
}

.hideRightBorder {
  border-right: 0px !important;
}
.hideLeftBorder {
  border-left: 0px !important;
}

.extendRight {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.extendLeft {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.leftEl {
  padding-left: 32px;
}

.rightEl {
  padding-right: 32px;
}

.left {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
