.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.estimator {
  margin-left: auto;
  margin-right: auto;
  color: var(--text);
  width: 668px;
  margin-bottom: 2rem;
  cursor: pointer;

  @media (max-width: 768px) {
    max-width: 95vh !important;
    width: 95%;
  }
}
