.wrapper {
  display: flex;
  width: 100%;
  background-color: var(--poll-bg);
  border-radius: 12px;
  box-shadow: var(--shadow4);

  padding: 20px 30px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 24px 12px;
  }
}
.pollWrapper {
  position: relative;
  width: 350px;
  height: 350px;
  margin-left: auto;
}

.pollCenter {
  width: 175px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--poll-chartbox);
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.voted {
  font-size: 24px;
  color: var(--subtext);
  font-weight: 500;
}

.percent {
  color: var(--text);
  font-weight: 400;
  margin-top: 0.25rem;
}
