.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (max-width: 768px) {
    width: 98%;
  }
}

@media (max-width: 1920px) {
  .normal {
    max-width: 1800px;
  }
}
@media (max-width: 1600px) {
  .normal {
    max-width: 1400px;
  }
}
@media (max-width: 1440px) {
  .normal {
    max-width: 1380px;
  }
}
@media (max-width: 1400px) {
  .normal {
    max-width: 1320px;
  }
}

@media (max-width: 1340px) {
  .normal {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .normal {
    max-width: 1120px;
  }
}

@media (max-width: 1120px) {
  .normal {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .normal {
    max-width: 990px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 1920px) {
  .compact {
    max-width: 1600px;
  }
}
@media (max-width: 1600px) {
  .compact {
    max-width: 1380px;
  }
}
@media (max-width: 1440px) {
  .compact {
    max-width: 1320px;
  }
}
@media (max-width: 1400px) {
  .compact {
    max-width: 1280px;
  }
}

@media (max-width: 1340px) {
  .compact {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .compact {
    max-width: 1120px;
  }
}

@media (max-width: 1120px) {
  .compact {
    max-width: 992px;
  }
}

.center {
  justify-content: center;
  display: flex;
}

.flex-start {
  justify-content: flex-start;
  display: flex;
}

.flex-end {
  justify-content: flex-end;
  display: flex;
}

.space-between {
  justify-content: space-between;
  display: flex;
}

.space-around {
  justify-content: space-between;
  display: flex;
}
