.wrapper {
    max-width: 1217px;
    width: 100%;
    border-radius: 24px;
    background-color: var(--upper-box-bg-1);
    padding: 25px 15px 35px;

    .firstRow {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 35px;

        .csm {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: right;
            max-width: 392px;

            .title {
                font-size: 13px;
                font-weight: 500;
                color: var(--upper-box-text-2);
                margin-bottom: 6px;
            }

            .box {
                position: relative;
                width: 100%;
                border-radius: 8px;
                border: solid 1px var(--upper-box-bg-3);
                background-color: var(--upper-box-bg-2);
                display: flex;
                justify-content: flex-end;

                .pattern {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    left: 25px;
                    top: 22px;

                    .image {
                        width: 28px;
                        height: 28px;
                    }

                    .text {
                        font-weight: 500;
                        color: var(--upper-box-text-1);
                    }
                }

                .button {
                    position: absolute;
                    right: 21px;
                    top: 23px;

                    button {
                        border-radius: 8px;
                        border: solid 1px var(--upper-box-bg-3) !important;
                    }
                }

                .input {
                    margin: -1px;

                    input {
                        width: 100%;
                    }
                }
            }
        }

        .veCSM {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: right;
            max-width: 392px;

            .title {
                font-size: 13px;
                font-weight: 500;
                color: var(--upper-box-text-2);
                margin-bottom: 6px;
            }

            .box {
                position: relative;
                width: 100%;
                border-radius: 8px;
                border: solid 1px var(--upper-box-bg-3);
                background-color: var(--upper-box-bg-2);
                display: flex;
                justify-content: flex-end;

                .pattern {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    left: 25px;
                    top: 22px;

                    .image {
                        width: 28px;
                        height: 28px;
                    }

                    .text {
                        font-weight: 500;
                        color: var(--upper-box-text-1);
                    }
                }

                .button {
                    position: absolute;
                    right: 21px;
                    top: 23px;

                    button {
                        border-radius: 8px;
                        border: solid 1px var(--upper-box-bg-3) !important;
                    }
                }

                .input {
                    margin: -1px;

                    input {
                        width: 100%;
                    }
                }
            }
        }

        .result {
            max-width: 331px;
            width: 100%;

            .title{
                font-size: 13px;
                font-weight: 500;
                color: var(--upper-box-text-2);
                margin-bottom: 20px;

                span{
                    font-weight: bold;
                }
            }

            .buttons{
                display: flex;
                justify-content: space-between;
                gap: 19px;
            }
        }
    }

}