.wrapper {
  width: 100%;
  border-radius: 24px;
  background-color: var(--upper-box-bg-1);
  padding: 25px 15px 35px;

  @media (max-width: 800px) {
    border-radius: 0px;
    padding: 17px 8px 25px;
  }

  .firstRow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 35px;
    margin-bottom: 28px;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 20px;
      margin-bottom: 23px;
    }

    .csm {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: right;
      max-width: 392px;

      @media (max-width: 800px) {
        max-width: none;
      }

      .title {
        font-size: 13px;
        font-weight: 500;
        color: var(--upper-box-text-2);
        margin-bottom: 6px;
      }

      .box {
        position: relative;
        width: 100%;
        border-radius: 8px;
        border: solid 1px var(--upper-box-bg-3);
        background-color: var(--upper-box-bg-2);
        display: flex;
        justify-content: flex-end;

        .pattern {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 10px;
          left: 25px;
          top: 22px;

          @media (max-width: 1000px) {
            left: 10px;
          }

          @media (max-width: 800px) {
            max-width: none;
            left: 18px;
            top: 17px;
          }

          .image {
            width: 28px;
            height: 28px;

            @media (max-width: 1000px) {
              width: 22px;
              height: 22px;
            }
          }

          .text {
            font-weight: 500;
            color: var(--upper-box-text-1);

            @media (max-width: 1000px) {
              font-size: 14px;
            }
          }
        }

        .button {
          position: absolute;
          right: 21px;
          top: 23px;

          @media (max-width: 1000px) {
            right: 10px;
          }

          @media (max-width: 800px) {
            right: 13px;
            top: 15px;
          }

          button {
            border-radius: 8px;
            border: solid 1px var(--upper-box-bg-3) !important;
          }
        }

        .input {
          margin: -1px;
          width: 50%;

          @media (max-width: 1000px) {
            width: 60%;
          }

          @media (max-width: 800px) {
            width: 50%;
          }

          input {
            width: 100%;
          }
        }
      }
    }

    .veCSM {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: right;
      max-width: 392px;

      @media (max-width: 800px) {
        max-width: none;
      }

      .title {
        font-size: 13px;
        font-weight: 500;
        color: var(--upper-box-text-2);
        margin-bottom: 6px;
      }

      .box {
        position: relative;
        width: 100%;
        border-radius: 8px;
        border: solid 1px var(--upper-box-bg-3);
        background-color: var(--upper-box-bg-2);
        display: flex;
        justify-content: flex-end;

        .pattern {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 10px;
          left: 25px;
          top: 22px;

          @media (max-width: 1000px) {
            left: 10px;
          }

          @media (max-width: 800px) {
            max-width: none;
            left: 18px;
            top: 17px;
          }

          .image {
            width: 28px;
            height: 28px;

            @media (max-width: 1000px) {
              width: 22px;
              height: 22px;
            }
          }

          .text {
            font-weight: 500;
            color: var(--upper-box-text-1);

            @media (max-width: 1000px) {
              font-size: 14px;
            }
          }
        }

        .button {
          position: absolute;
          right: 21px;
          top: 23px;

          @media (max-width: 1000px) {
            right: 10px;
          }

          @media (max-width: 800px) {
            right: 13px;
            top: 15px;
          }

          button {
            border-radius: 8px;
            border: solid 1px var(--upper-box-bg-3) !important;
          }
        }

        .input {
          margin: -1px;
          width: 50%;

          @media (max-width: 1000px) {
            width: 60%;
          }

          @media (max-width: 800px) {
            width: 50%;
          }

          input {
            width: 100%;
          }
        }
      }
    }

    .result {
      max-width: 331px;
      width: 100%;

      @media (max-width: 800px) {
        max-width: none;
      }

      .title {
        font-size: 13px;
        font-weight: 500;
        color: var(--upper-box-text-2);
        margin-bottom: 20px;

        @media (max-width: 800px) {
          margin-bottom: 10px;
        }

        span {
          font-weight: bold;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        gap: 19px;
      }
    }
  }

  .secondRow {
    display: flex;
    justify-content: space-between;
    gap: 35px;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 24px;
    }

    .optionButtons {
      display: flex;
      max-width: 870px;
      width: 100%;
      height: 56px;
      border-radius: 8px;
      padding: 5px;
      background-color: var(--upper-box-bg-2);
      justify-content: space-between;
      align-items: center;
      overflow-y: auto;
      cursor: pointer;

      .option {
        height: 46px;
        max-width: 110px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        font-weight: 500;
        color: var(--upper-box-text-1);
        cursor: pointer;

        @media (max-width: 800px) {
          max-width: 86px;
          min-width: 75px;
        }
      }

      .thisOne {
        background-color: var(--upper-box-bg-3);
        font-weight: 600;
        cursor: pointer;
      }
    }

    .customTime {
      display: flex;
      align-items: flex-end;
      gap: 30px;
      max-width: 328px;
      width: 100%;

      @media (max-width: 800px) {
        max-width: none;
        justify-content: center;
      }

      .time {
        display: flex;
        flex-direction: column;
        gap: 14px;

        @media (max-width: 800px) {
          flex-direction: row;
          gap: 30px;
        }

        .textt {
          display: flex;
          align-items: center;
          font-size: 13px;
          font-weight: 500;

          div {
            color: var(--upper-box-text-2);
          }
        }

        .set {
          color: var(--upper-box-text-1);
          display: flex;
          align-items: center;
          position: relative;

          @media (max-width: 800px) {
            font-size: 14px;
          }

          .icon {
            width: 9px;
            position: absolute;
            top: 1.5px;
            right: 7px;
          }
        }
      }

      .text {
        color: var(--upper-box-text-1);
        font-weight: 500;

        @media (max-width: 800px) {
          font-size: 14px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.calender {
  font-size: 16px;
  width: 110px;
  text-align: left;
  border: none;
  box-shadow: none;
  color: var(--upper-box-text-1);
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.calendarResponsive {
  font-size: 8.5px !important;
}
