.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  @media (max-width: 800px) {
    padding: 0px;
  }
}

.title {
  margin-top: 50px;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-weight: bold;
  color: var(--text);
  @media (max-width: 800px) {
    margin-left: 19px;
    margin-bottom: 23px;
    margin-top: 30px;
  }
}

.left {
  display: flex;
  align-items: center;
}

.left > :nth-child(2) {
  opacity: 0.3;
  margin: 0px 8px;
}

.poolName {
  & sub {
    font-size: 10px;
  }
}

.upperBox {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.balance {
  width: 100%;
  display: flex;
  justify-content: center;
}
