.wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;

    .title{
        margin-top: 50px;
        margin-bottom: 16px;
        max-width: 1217px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: bold;
    }

    .title>:nth-child(2){
        transform: rotate(270deg);
        width: 8.8px;
        opacity: 0.3;
    }

    .upperBox{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
    }

    .balance{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}