@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Thin.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-ExtraLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-SemiBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis/Metropolis-Black.otf");
  font-weight: 900;
}
