.tooltip {
  pointer-events: none;
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color) !important;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
  max-width: 300px;
  text-align: center;
  box-shadow: var(--shadow4);
}
