.wrapper {
    max-width: 524px;
    width: 100%;
    padding-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 19px;
    border: solid 1px #fceabb;
    background-color: #fff2cf;
    padding-left: 5px;
    padding-right: 5px;

    @media(max-width: 500px) {
        max-width: 325px;
        padding-top: 18.5px;
    }
}

.wrapper> :nth-child(1) {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

    .icon {
        background-color: #836a27;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: contain;
        padding-bottom: 2px;
        border-radius: 50%;

        @media(max-width: 500px) {
            width: 24px;
            height: 24px;
            padding-bottom: 1.5px;
        }
    }

    .warning {
        font-size: 20px;
        font-weight: bold;
        color: #836a27;
        margin-left: 7.3px;

        @media(max-width: 500px) {
            font-size: 16px;
        }
    }
}

.wrapper> :nth-child(2) {
    text-align: center;
    font-weight: 500;
    color: #836a27;
    margin-bottom: 26px;

    @media(max-width: 500px) {
        font-size: 14px;
        margin-bottom: 20px;
    }
}