.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 15px;
}


.whichPoolWrapper {
    max-width: 1217px;
    width: 100%;

    .titleWrapper {
        margin: 32px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 56px;
        border-radius: 16px;
        background-color: var(--pool-bg-2);

        .buttons {
            display: flex;
            margin-left: 6px;

            .poolButtonOn {
                background-color: white !important;
                font-weight: 600;
                font-size: 18px !important;
            }

            .poolButtonOff {
                background-color: transparent !important;
                color: var(--pool-text-6);
                font-weight: 500;
                font-size: 18px !important;

            }
        }

        .TVLInfo {
            margin-right: 25px;
            color: var(--pool-text-2);

            .text2 {
                font-weight: 600;
                margin-left: 5px;

            }
        }
    }

    .bodyWrapper{
        height: 535px;
        background-color: var(--pool-bg);
        border-radius: 25px;
    }
}

.trial{font-size: 18px !important;}