.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dashboard {
    max-width: 1217px;
    width: 100%;
    border-radius: 25px;
    background: var(--pool-bg);
    padding-top: 14.5px;
    padding-bottom: 25px;
  }

  .footer {
    margin-top: 32.5px;
    margin-bottom: 29.5px;
  }
}

@media (max-width: 850px) {
  .wrapper {
    .footer {
      font-size: 14px;
      text-align: center;
      margin: 0px 30px;
      margin-top: 22.5px;
      margin-bottom: 27.5px;
    }

    .dashboard {
      max-width: 850px;
      border-radius: 0px;
      background: var(--pool-bg-3);
      padding-top: 10.5px;
      padding-bottom: 0px;

      .more {
        display: flex;
        justify-content: center;
        margin-bottom: 33px;

        .white {
          background-color: transparent;
          border: solid 1px #e5e5e5 !important;
          border-radius: 12px;
          color: black;
        }

        .black {
          background-color: transparent;
          border: solid 1px #454545 !important;
          border-radius: 12px;
          color: white;
        }
      }
    }
  }
}
