.wrapper {
  max-width: 662px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 55px 69px 51px;

  @media (max-width: 600px) {
    padding: 63px 12px 17px;
  }

  .line {
    border: solid 1px #ebebeb;
    height: 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .options {
    max-width: 524px;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--liquidity-stake-reward-bg-2);
    border: solid 1px var(--liquidity-stake-reward-bg-3);
    gap: 5px;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 29px;

    @media (max-width: 600px) {
      max-width: 336px;
      height: 46px;
    }

    .thisOne {
      height: 46px;
      border-radius: 12px;
      background-color: var(--liquidity-stake-reward-bg-1);
      color: var(--liquidity-stake-reward-text-1);
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 162px;
      width: 100%;

      @media (max-width: 600px) {
        max-width: 110px;
        height: 36px;
      }
    }

    .no {
      height: 46px;
      border-radius: 12px;
      background-color: transparent;
      color: var(--liquidity-stake-reward-text-2);
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 162px;
      width: 100%;

      @media (max-width: 600px) {
        max-width: 110px;
        height: 36px;
      }
    }

    .thisOne:hover {
      cursor: pointer;
    }

    .no:hover {
      cursor: pointer;
      transform: scale(1.05);
      transition: 0.2s ease-in-out;
    }
  }
}
