.wrapper {
  margin: 60px 12px;
  height: max-content;
  background-color: var(--swap-box-bg);
  padding: 18px 24px;
  border-radius: 12px;
  width: 668px;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.row {
  display: flex;
  width: 100%;
}
.inputLabel {
  & span {
    font-size: 12px;
    color: var(--text);
  }
}

.select {
  width: 80%;
  text-overflow: clip;

  @media (max-width: 540px) {
    width: 100%;
    overflow-x: auto;
  }
}
.input {
  width: 100%;
  padding-right: 50px;

  @media (max-width: 540px) {
    width: 100%;
    overflow-x: auto;
  }
}

.swapContentBox {
  border-radius: 8px;
  padding: 18px 12px;
  border: 1px solid var(--swap-box-border);

  & span {
    font-size: 14px;
    color: var(--text);
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 18px 12px;
    margin: 0px;
    width: 98vh;
    background-color: transparent;
  }
}
