.wrapper {
  margin: 120px 12px;
  height: max-content;
  background-color: var(--swap-box-bg);
  padding: 18px 24px;
  border-radius: 12px;
  width: 668px;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.row {
  display: flex;
  width: 100%;
}
.inputLabel {
  & span {
    font-size: 12px;
    color: var(--text);
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0px;
    width: 95vh;
    background-color: transparent;
  }
}
