.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tvl {
        margin-bottom: 25px;
        display: flex;
        justify-content: end;
        width: 100%;
        max-width: 1206px;

        .title {
            color: rgba(31, 31, 31, 0.48);
        }

        .value {}
    }
}