.wrapper {
    max-width: 662px;
    width: 100%;
    height: 454px;
    border-radius: 24px;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.07), inset 1px 1px 2px 0 rgba(255, 255, 255, 0.76);
    background-color: var(--submitted-bg);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .exit {
        width: 34px;
        height: 34px;
        position: absolute;
        right: 17px;
        top: 17px;

        &:hover {
            transform: scale(1.05);
            transition: all 0.1s;
        }
    }

    .submittedIcon {
        width: 97px;
        margin-top: 5px;
    }

    .text {
        font-size: 20px;
        color: var(--submitted-text-1);
        margin-top: 26px;
        margin-bottom: 30px;
        font-weight: 600;
    }

    .button1 {
        margin-bottom: 23px;
    }
}


@media(max-width: 700px) {
    .wrapper {
        max-width: 359px;
        width: 100%;
        height: 291px;
        border-radius: 19px;

        .exit {
            width: 29px;
            height: 29px;
            right: 14px;
            top: 14px;
        }

        .submittedIcon {
            width: 65px;
            margin-top: 26px;
        }

        .text {
            font-size: 16px;
            margin: 24px 0px;
        }

        .button1 {
            margin-bottom: 23px;
        }
    }
}


@media(max-width: 370px) {
    .wrapper {
        max-width: 290px;
        width: 100%;
        height: 291px;
        border-radius: 19px;

        .exit {
            width: 29px;
            height: 29px;
            right: 14px;
            top: 14px;
        }

        .submittedIcon {
            width: 65px;
            margin-top: 26px;
        }

        .text {
            font-size: 16px;
            margin: 24px 0px;
        }

        .button1 {
            margin-bottom: 23px;
        }
    }
}